.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card1-group {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.nom {
    margin-left: 5%;
}

.desc  {
    margin-top: 5%;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 12em;
}

.flex-button {
    width: 100%;
    margin: 1%;
}

.top-button {
    margin-top: 1em;
}

.bottom-button {
    margin-bottom: 1em;
}