.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.left-tile {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    gap: 20px;
}

.scroll {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 5%;
    overflow: scroll;
    gap: 20px;
}

.card1-group {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.desc  {
    margin-top: 5%;
}

.messagebox {
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
}

textarea {
    width: 100%;
}