.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.left-tile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 3%;
}

.card1-group {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

.desc  {
    margin-top: 5%;
}

.filters {
    padding: 1em;
}

.filter {
    display: flex;
}

.label {
    width: 50%;
}

.filter:not(:first-child) {
    margin-top: 2em;
}

.selection {
    margin-left: 2em;
}

#filter4 {
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 13px; /* Specified height */
    border-radius: 8px;
    margin-left: 3em;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 100%;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.card-container {
    display: flex;
    justify-content: flex-end;
}

.card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    width: 85%;
}

.card1-group {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.nom {
    margin-left: 5%;
}

.desc  {
    margin-top: 5%;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%;
}

.flex-button {
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 15%;
}